body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px
}

footer {
    padding-top: 24;
    padding-left: 0;
    padding-bottom: 24;
    padding-right: 0;
}

img {
    height: 200px
}

nav {
    border-bottom: 1px solid black;
    padding: 16px
}

.gridlayout {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

nav {
    background-color: rgb(219, 68, 68);
}

nav > a {
    color: white;
    font-style: oblique;
}

a {
    text-decoration: none;
    color: red
}

main > h1 {
    color: green
}

footer {
    padding: 25px;
    background-color: green;
    color: white;
    font-style: italic;
}

tr:nth-child(even) {
    background-color: lightgray
}

.box-shadow:hover {
    box-shadow: 3px 3px 4px green;
    color: rgb(90, 32, 32)
}
